@charset "utf-8";
/* Name: mobile.css 
** Created by: Tim Johnson
** Purpose: 
** - Basic styling for mobile phone devices
** - Everything is centered around displaying 3 images per row when a story is displayed
*/

#container {
	/* Smaller width for mobile, 3 images per row */
	width: 480px;
	margin: 0 auto;
}

#story-container {
	position: relative;
	z-index: 100;
	margin: 0 auto;
	/* Smaller width for mobile */
	width: 360px;
}

#story {
	/* Less margin-top for mobile */
	margin-top: 60px;
	padding: 30px;
	background: #FFF;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.story-button {
	background-color: #d10000;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	/*Add spacing between 'change story'*/
	margin: 20px 0px; 
}
/* Bigger font for textarea and text input for mobile */
.story-textarea textarea {
	font-size: 16px;
	height: 300px;
}

.title-input input[type=text] {
	font-size: 18px;
}