@charset "utf-8";
/* Name: style.css 
** Created by: Tim Johnson
** Purpose: 
** - Default styling of elements for standard-sized screens
** - Everything is built around displaying 5 images per row when a story is displayed
*/
body {
	color: #000;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	background-image: url('../images/bg-stripe.png');
}

img {
	border: 0px;
	margin: 0;
}
/*Override Ext button style*/
button, button:focus, button:active {
    border: none;
    display: inline;
    margin: 0em;
    padding: 0em;
    outline: none;
    outline-offset: 0em;
    background: none;
    cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
}

#container {
	width: 780px;
	margin: 0 auto;
}

header {
	text-align: center;
}

#post {
	border: 1px solid #CCC;
	padding: 10px;
	background-color: #FFF;
}

.story-textarea textarea {
	font-size: 14px;
}

.title-input input[type=text] {
	font-size: 16px;
}

#loading {
	text-align: center;
	display: none;
	font-size: 26px;
}

#images {
	border: 1px solid #CCC;
	padding: 14px;
	margin-top: 10px;
	display: none;
}

#story-display {
	display: none;
	background-color: #FFF;
}

#story-container {
	position: relative;
	z-index: 100;
	margin: 0 auto;
	width: 580px;
}

#story {
	margin-top: 100px;
	padding: 30px;
	background: #FFF;
	/* Cross-browser rounded edges */
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

#story-title {
	font-size: 26px;
	margin-bottom: 20px;
}

#story-text {
	font-size: 14px;
	line-height: 22px;
}
.buttons {
	text-align: center;
	margin-top: 30px;
}

#bottom-button {
	display: none;
}

#alert {
	font-size: 19px;
	text-align: center;
	background-color: #C24C24;
	color: #FFF;
	padding: 10px 0px;
	display: none;
}

.story-button {
	background-color: #d10000;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	/* Cross-browser rounded edges */
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.story-button:hover {
	cursor: pointer;
}

#story-edit {
	text-decoration: none;
	color: #C24C24;
	font-weight: bold;
	float: right;
}

#story-edit:hover {
	text-decoration: underline;
	cursor: pointer;
}

.image-tpl {
	min-width: 150px;
	min-height: 150px;
	margin-bottom: -2px;
}

.keep-position {
	float: left;
	width: 150px;
	height: 150px;
}

.has-opacity {
  /* Cross-Browser Opacity */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

.has-opacity:hover {
  /* Cross-Browser Opacity */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.clear{
	clear:both;
}